//css imports
@import 'bootstrap/scss/bootstrap';
@import 'MovieList';
@import 'Loading';
@import 'SingleMovie';

//Font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;600;800&display=swap');

#App {
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    color:rgba(255, 255, 255, 0.762)
}

.homepage-heading {
    font-size: 4rem;
}


.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    background-color: rgb(24, 22, 22);
    min-height: 100vh;
}

h1 {
    font-weight: 800; 
}

h2 {
    margin-top: 5%;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.749);
    font-size: 1rem;
}

img {
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.749)
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 0.5rem;
    grid-row-gap: 2rem;
}

.list-group {
    padding-top: 5%;
}

.actor-list p {
    margin-bottom: 0.3rem;
}

.actor-thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

